.skillsContaier h1{
    text-align: center;
    color: var(--purple_0);
}

.skillsContaier h2{
    text-align: center;
    font-weight: 400;
    color: var(--white_2);
}

.skillsDataDiv{
    border: solid var(--purple_0) 1px;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 var(--purple_2), 0 5px 10px 0 var(--purple_2);
}

.skillsDataDiv ul li{
    list-style: none;
    color: var(--purple_1);
    margin-top: 2vh;
}

.skillsDataDiv ul li h3{
    font-weight: 300;
}

.skillsDataDiv ul li h3:hover{
    color: var(--purple_0);
    letter-spacing: 1.5px;
    font-weight: 400;
    cursor: pointer;
}